<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.knp.gchat">
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/wl"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashAct"
            android:label="@string/app_name"

            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChatActivityMain"
            android:label="Chat">
        </activity>
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name=".MainActivity"
            android:label="Main">
        </activity>
        <activity
            android:name=".SignUpActivity"
            android:label="SUA">
        </activity>
        <activity
            android:name=".InChatActivity"
            android:label="ICA">
        </activity>
        <activity
            android:name=".FragmentS"
            android:label="ICA"
            android:theme="@style/Base.Theme.AppCompat.Light.DarkActionBar">
        </activity>
    </application>

</manifest>